section.gradient {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    #00ffca,
    #04efce,
    #10c5db,
    #2483ef,
    #344eff
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

section.gradient > h1 {
    color: white;
}
