@media only screen and (max-width: 1041px) {
  html > body > nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 125px;
  }
  html > body > nav > div.nav-container {
    width: 100%; 
  }

  nav > div.search-container {
    margin: auto;
  }

  nav > div.nav-container > div.nav-items > div.dropdown-nav-menu {
    margin-right: 0;
    margin-left: auto;
  }



html > body > nav.hide {
  top: -125px;
}
}

body > nav {
  height: 100px;
  padding: 0px 10px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  align-items: center;
  transition: top 0.3s;
}

nav > .nav-container {
  width: calc(100% - 280px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img-container {
  display: flex;
  justify-content: center;
  flex: 1 110px;
  max-width: 20%;
}

body > nav img {
  width: 100px;
}

.nav-items span {
  padding: 0 10px 0 10px;
  cursor: pointer;
}

.nav-items span.selected {
  font-size: 20px;
}

.nav-items button.btn {
  color: #0e4172;
}

.nav-items .dropdown {
  margin-left: 50px;
  border: 1px solid #0e4172;
  border-radius: 5px;
}

.icon {
  margin-left: 10px;
}

.nav-items {
  padding-right: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  flex: 1;
}

nav .show-dropdown-menu {
  display: block;
  border: 1px solid #0e4172;
  max-height: 500px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.dropdown-nav-menu {
  height: 40px;
  position: relative;
  border-radius: 5px;
  margin: 0px 15px;
  border: 1px solid #0e4172;
}

.dropdown-menu {
  border: 1px solid #0e4172;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  border-bottom: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  display: block;
  max-height: 0;
  min-width: unset;
  margin: 0;
  padding: 0;
  width: calc(100% + 2px);
  left: -1px;
  top: calc(100% - 0.25rem); /* 0.25rem is a default bootstrap value, this is used to hide border-radius from above button */
}

.dropdown-item {
  color: #0e4172;
  padding: 10px;
}

.nav-items .open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

body > nav .btn:focus {
  box-shadow: none;
}

nav > div.search-input-open {
  width: 280px;
}

nav > .search-container {
  height: 40px;
  transition: width 0.3s;
  width: 120px;
  overflow: hidden;
  display: flex;
  margin-right: 0;
  margin-left: auto;
  border: 1px solid #0e4172;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.75rem;
}

.search-container input {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  margin: 0px 5px;
  width: 200px;
}

.search-container input:focus {
  outline: none;
}

.search-container * {
  transition: all 0.3s;
}

.search-container i {
  margin-right: 15px;
  cursor: pointer;
}

.search-container .btn {
  color: #0e4172;
  padding: 0;
}

body > nav.hide {
  top: -100px;
}
